.axis text{
  font: 10px sans-serif;
}      
.axis path,
.axis line {
  fill:none;
  stroke: #000;
  shape-rendering: crisp Edges;
}
#yaxis path{
  display:none;
}
rect:hover {
  fill: orange;
}

#tooltip {
  position: absolute;
  width: 60px;
  font-size:12px;
  height: auto;
  padding: 5px;
  background-color: #E0E0E0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  text-align: center
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}